<h1>Events Manager!</h1>

<section>
  <h2> All Upcoming Events </h2>
  <%= render partial: 'shared/event',
             locals: { events_group: @upcoming_events }%>
</section>

<section>
  <h2> All Past Events </h2>
  <%= render partial: 'shared/event',
             locals: { events_group: @past_events }%>
</section>